html.dark {
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
        saturate(0%) hue-rotate(138deg) brightness(103%) contrast(101%);
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
}
