@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(14%)
        saturate(3039%) hue-rotate(213deg) brightness(97%) contrast(95%);
    --body-bg: #F6F6F6;
    --header-bg-color: #eeeeee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.breakpoint(lg) {
        --header-bg-color: #ffffff;
    }
}
